{% extends 'base.html.twig' %}

{% block title %}RssFeed{% endblock %}

{% block body %}
    <h1>RssFeed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rss_feed.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ rss_feed.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ rss_feed.url }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rss_feed.createdAt ? rss_feed.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rss_feed_index') }}">back to list</a>

    <a href="{{ path('app_rss_feed_edit', {'id': rss_feed.id}) }}">edit</a>

    {{ include('rss_feed/_delete_form.html.twig') }}
{% endblock %}
